<DIV align="center">
<!-- A href="http://www.opendesign.com/"><IMG width="300" height="50" src=":/odalogofull.png" /></A -->
<A href="http://www.opendesign.com/"><IMG width="300" height="50" src=":/odalogofull.png" /></A>
</DIV>
<p> $(TD_APP_NAME) is a free cross-platform application provided 
  by the ODA for the visualization of CAD drawing files. It incorporates the power 
  and flexibility of Teigha into a single 
  application that can render both .dwg files and .dgn files using a common command 
  interface for both formats. </p>
<p>
In addition to serving as a rendering tool, $(TD_APP_NAME) can be used as a test container application for TX developers. TX developers can load custom TX modules and run custom commands from the console, and can also customize the $(TD_APP_NAME) menus. 
</p>
<p>
ODA members are utilizing the Teigha platform to create thousands of CAD and technical graphics applications across a wide variety of engineering domains. $(TD_APP_NAME) highlights only a small subset of the full platform capabilities. 
</p>
<h2>Features</h2>
<p>
$(TD_APP_NAME) contains the following features: 
</p>
<ul>
  <li>Load and render .dwg, .dxf, .dgn and .dwf files.</li>
  <li>Create, save, and print .dwg files.</li>
  <li>Recover and audit damaged .dwg files.</li>
  <li>Import .dgn files.</li>
  <li> Work with architecture objects (uses Teigha Architecture integration, Windows 
    only.) </li>
  <li>Zoom, pan, orbit, and select various preset 3D views. </li>
  <li>Select an active layout via drawing window tabs. Switch the current viewport.</li>
  <li>Select and deselect items in a drawing. Delete items from a drawing. Use 
    grips in .dwg files. </li>
  <li>Undo and redo operations in .dwg files.</li>
  <li>Draw boxes, spheres, and lines.</li>
  <li>Edit general properties of entities; edit all properties of lines and arcs 
    in .dwg files.</li>
  <li>Edit layer properties using the Layer Properties Manager (turn layers on/off, 
    etc.).</li>
  <li>Use menu, toolbar, and command window interfaces.</li>
  <li>Customize menus and toolbars via .cui files.</li>
  <li>View and change system variables, and reset system variables.</li>
  <li>Load Teigha Extension (TX) plug-ins on demand or explicitly via user request.</li>
  <li>Load .NET TX plug-ins (Windows only, ODA members only).</li>
  <li>Define in a Startup Suite the applications to load automatically when $(TD_APP_NAME)
       starts.</li>
  <li>Enter arguments and switches when running the $(TD_APP_NAME) executable to 
    automatically open files, run scripts, and load TX applications. Enter /? 
    for a list of arguments, for example: &quot;c:\$(TD_EXE_NAME).exe /?&quot;.</li>
</ul>
<h2><a href="commands.html">Command Reference</a> <br>
</h2>
<h2><a href="developer.html">TX Developer Reference</a> <br>
</h2>
<h2><a href="net-developer.html">.NET Classic TX Developer Reference</a> (Windows only)<br>
</h2>
<h2><a href="http://wiki.opendesign.com/index.php/How_do_I_build_the_Qt_sample_files">FAQ - How to build Qt samples<br />
</h2>

<h2>Platform Support</h2>
<p>
$(TD_APP_NAME) is available for the following platforms: 
</p>
<ul>
	<li>Linux (OpenSUSE 11.2 x86/x64 and Ubuntu 10.10 x86/x64)</li>
	<li>Mac OS/X (Leopard x86 10.6 or later, Mountain Lion x64 10.8 or later) </li>
	<li>Windows (XP or later)</li>
	<li>Android (4.x or later)</li>
	<li>iOS (7.1 or later)</li>
</ul>
<h2>Feedback</h2>
<p>
Questions or comments about $(TD_APP_NAME) can be submitted at: <a href="http://www.opendesign.com/contact">www.opendesign.com/contact</a>. 
</p>
